VITE_SUPABASE_URL=https://bgygztsrgahckryxtoib.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJneWd6dHNyZ2FoY2tyeXh0b2liIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MzkwMDQsImV4cCI6MjA5NDMxNTAwNH0.Hlqz-6wcLWDSsOsWxJ_HaX7K7mqlS9kyTNcRMfnmu7Q
